//### Font Families
$myHeadingFont: "Poppins",
sans-serif;
$myBodyFont: "Open Sans",
sans-serif;
//### Font Weights
$regularWeight: 400;
$semiBoldWeight: 600;
$boldWeight: 700;
//### Primary Colors
$myPink: hsl(322, 100%, 66%);
//### Neutral Colors
$myDarkCyan: hsl(192, 100%, 9%);
$myPaleBlue: hsl(207, 100%, 98%);